Search:<input ng-model="query" type="text">
<table>
  <tr>
    <td><a href"" ng-click="sortField = 'name'; reverse = !reverse">Name or Id</a></td>
    <td><a href"" ng-click="sortField = 'enabled'; reverse = !reverse">Enabled</td>
  </tr>
  <tr ng-repeat="tenant in tenants.tenants | filter:query | orderBy:sortField:reverse" id="{{tenant.id}}">
    <td>
      <a href="#/tenants/{{tenant.id}}">{{tenant.name || tenant.id}}</a>
    </td>
    <!-- add check for if server.links is an empty array or null -->
    <td>{{tenant.enabled}}</td>
  </tr>
</ul>
