<div class="row">
  <div class="col-md-3 col-md-offset-9">
    <div class="form-group has-feedback">
      <input ng-model="query" type="text" class="form-control">
      <span class="glyphicon glyphicon-search form-control-feedback"></span>
    </div>
  </div>
</div>
<div class="row">
  <table class="table table-striped table-hover">
    <tr>
      <td><a href ng-click="sortField = 'name'; reverse = !reverse">Name or Id</a></td>
      <td><a href ng-click="sortField = 'status'; reverse = !reverse">Status</td>
    </tr>
    <tr ng-repeat="server in servers | filter:query | orderBy:sortField:reverse" id="{{server.id}}">
      <td>
        <a href="#/servers/{{server.id}}">{{server.name || server.id}}</a>
        <a href="http://192.168.122.183/dashboard/project/instances/{{server.id}}/?tab=instance_details__console">Horizon</a>
      </td>
      <!-- add check for if server.links is an empty array or null -->
      <td>{{server.detail.status}}</td>
    </tr>
  </table>
</div>
<div class="row">
  <div class="col-md-12" style="border: 1px solid black">
    <h3>New Server</h3>
    <form ng-submit="createServer()">
      <div class="form-group">
        <label for="name">Name</label>
        <input ng-model="newServer.name" type="text" class="form-control" id="name">
      </div>
      <div class="form-group">
        <label for="flavor">Flavor</label>
        <select
            ng-model="newServer.flavorId"
            class="form-control"
            id="flavor">
            <option ng-repeat="flavor in flavors" value="{{flavor.id}}">
              {{flavor.name}} - {{flavor.ram}} MB RAM - {{flavor.vcpus}} VCPUS -
              {{flavor.disk !== 0 ? flavor.disk + " GB Disk" : "Image Size"}}
            </option>
        </select>
      </div>
      <div class="form-group">
        <label for="image">Image</label>
        <select
            ng-model="newServer.imageId"
            class="form-control"
            id="image">
            <option ng-repeat="image in images" value="{{image.id}}">
              {{image.name}} - {{image.size | bytes}}
            </option>
        </select>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
</div>
